<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403467704224-gidil24ovvjmbc34pl5hnsnq8s71hf7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403467704224-gidil24ovvjmbc34pl5hnsnq8s71hf7c</string>
	<key>API_KEY</key>
	<string>AIzaSyAu3PoaklavcxE7Zdiyd1IUmlg2-_IVjJY</string>
	<key>GCM_SENDER_ID</key>
	<string>403467704224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceBloc</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-app-73f93</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-app-73f93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403467704224:ios:267de3378f18f39e60b6c5</string>
</dict>
</plist>